#about-container {
  width: 70vw;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf9f6;
}

/*  */

.title-about {
  padding-left: 20px;
  font-size: 1.6rem;
  text-align: left;
  z-index: 11;
  opacity: 0;
  color: var(--section-title);
}

.complete-text {
  width: 90%;
  position: relative;
  padding: 20px 15px 20px 20px;
  animation: appear 2s ease-in-out;
  background-color: #faf9f6;
  z-index: 20;
  /* border: 1px solid red; */
}

.complete-text h2 {
  position: relative;
  font-size: 2.6rem;
  letter-spacing: -1px;
  background-color: #faf9f6;
}

.complete-text h2:first-of-type {
  animation: open-split-to-top 3s ease-in-out forwards;
}

.complete-text h2:last-of-type {
  animation: open-split-to-bot 3s ease-in-out forwards;
}

.insider-text {
  display: block;
  margin: 10px 0px;
  min-width: 300px;
  font-size: 0.9rem;
  color: var(--font);
  white-space: pre-line;
  /* letter-spacing: 0.01rem; */
  /* margin-bottom: 20px; */
  animation: appear 2s ease-in-out 2s forwards;
  opacity: 0;
  /* border: 1px solid red; */
}

.photographs-container {
  position: relative;
  margin: 0 20px;
  /* width: 90%; */
  height: 50%;
  animation: appear 0.2s linear 2s forwards;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  /* border-top: 1px solid rgb(0, 0, 0); */
}

#logo-block {
  display: flex;
}

#logo {
  -webkit-user-drag: none;
  user-select: none;
  position: absolute;
  right: 0%;
  top: 15%;
  /* opacity: 0.8; */
  height: 300px;
  max-width: 300px;
  min-width: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 100;
  transform: rotate(-5deg);
}

#logo:hover {
  opacity: 0.1;

  transform: rotate(0.3deg);
  transition: all 0.3s;
}

.pop-up-container {
  user-select: none;
  width: 10%;
  height: 400px;
  z-index: -4;
  border-top: 1px solid black;
}

.pop-up-image {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: all 1s ease-in-out;
}

.end-pictures-effect {
  /* transform: rotate(-26deg); */
  transition: all 1s;
}

/* Media queries */

@media screen and (max-width: 1280px) {
  #logo {
    top: 17%;
    height: 150px;
    max-width: 150px;
    min-width: 150px;
  }
}

@media screen and (max-width: 601px) {
  #about-container {
    height: 80%;
  }

  .title-about {
    top: -30px;
    width: 90%;
    text-align: left;
    font-size: 0.9rem;
  }

  .complete-text {
    height: fit-content;
    width: 100%;
    /* padding-bottom: 0px; */
  }

  .complete-text h2 {
    font-size: 1.4rem;
  }

  .insider-text {
    min-width: 200px;

    font-size: 0.6rem;
  }

  .photographs-container {
    position: relative;
    /* margin-left: 10px; */
    bottom: 0px;
    width: 90%;
    height: 200px;
    /* border: 1px solid red; */
  }

  #logo {
    top: 12%;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
  }

  .pop-up-container {
    width: 20%;
    height: 230px;
  }

  .pop-up-image {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: all 1s ease-in-out;
  }
}

/* ! NEST HUB ! */

@media screen and (max-height: 650px) {
  #about-container {
    height: 70%;
  }

  .title-about {
    top: -30px;
    width: 90%;
    text-align: left;
    font-size: 1.2rem;
  }

  .complete-text {
    height: 80%;
    width: 100%;
  }

  .complete-text h2 {
    font-size: 1.8rem;
  }

  .insider-text {
    font-size: 0.6rem;
  }

  .photographs-container {
    width: 100%;
    height: 100%;
  }

  #logo {
    top: 12%;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
  }

  .pop-up-container {
    width: 20%;
  }

  .pop-up-image {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: all 1s ease-in-out;
  }
}
